<tr>
    <td width="285" align="left" valign="top">
        <table width="285" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="left" valign="top" width="90"><a href="{{$4452}}&amp;LinkName=BotoxTX%5FSavings%5FProgram%5FEngagement%5FBrochure%5FEF%2D51078"><img src="images/thum/engagement_brochure.jpg" width="73" height="94" alt="BOTOX® Savings Program Engagement Brochure" style="display:block;" border="0"></a></td>
                <td width="195" align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 14px; color: #7d4199; padding-left:5px;"><a href="{{$4452}}&amp;LinkName=BotoxTX%5FSavings%5FProgram%5FEngagement%5FBrochure%5FEF%2D51078" style="color:#7d4199; text-decoration:none"><span style="font-size:18px;">[</span>BOTOX<span style="font-family:Arial, Helvetica, sans-serif; vertical-align:4px; font-size:65%; line-height:0px;">&reg;</span> Savings Program Engagement Brochure<span style="font-size:18px;">]</span></a></td>
            </tr>
        </table>
    </td>
</tr>